#projects {
    text-align: center;
    background-color: #dbe6ff;
    color: #070553;
    padding: 50px 0;
    position: relative;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

.project-carousel {
    display: flex;
    overflow: hidden;
    justify-content: center;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

.project {
    flex: 0 0 100%; /* Allow project divs to take up the entire container */
    box-sizing: border-box;
    padding: 40px;
    background: linear-gradient(135deg, #070553, #1d4f91);
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    color: white;
    transition: transform 0.5s ease;
    max-width: 100%;
    text-align: left;
}

.project {
    position: relative;
    overflow: hidden; /* Ensure the description stays within the card boundaries */
}

.project-description {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); /* Dark overlay background */
    color: white;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth fade-in effect */
}

.project:hover .project-description {
    opacity: 1; /* Show the description on hover */
}


.project-img {
    width: 100%;
    height: auto; /* Maintain the aspect ratio of the image */
    max-width: 450px; /* Limit the width of the image */
    max-height: 350px; /* Limit the width of the image */
    border-radius: 8px;
    margin-bottom: 20px;
    object-fit: contain; /* Ensure the image fits inside the container without cropping */
}


.project h3 {
    font-size: 2em;
    margin-bottom: 20px;
}

.project p {
    font-size: 1.4em;
    line-height: 1.6;
    word-wrap: break-word; /* Ensures long words break naturally */
    hyphens: auto; /* Enable hyphenation for better word wrapping */
}

.carousel-buttons {
    position: relative;
    margin-top: 20px;
}

.carousel-button {
    background-color: rgba(3, 14, 80, 0.3);
    color: white;
    font-size: 2em;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 20px;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev, .next {
    position: relative;
}

.project-carousel .project:not(:first-child) {
    display: none;
}

/* Responsive Design */
@media (max-width: 768px) {
    #projects {
        padding: 30px 0;
    }

    .project {
        flex: 0 0 90%; /* Make the projects a bit smaller on mobile */
        padding: 20px;
    }

    .carousel-button {
        font-size: 1.5em; /* Smaller buttons for mobile */
        padding: 8px;
    }

    h2 {
        font-size: 2em; /* Smaller heading on mobile */
    }

    .project-img {
        max-height: 200px; /* Make the image smaller on mobile */
    }
}
